/* recuperar styles */
.recover { 
display:flex; flex-direction:column; gap:12px; .input-box{ --background:#fff; 
border-radius:20px; padding:6px; } }
h3{
    text-align: center;
}
p{
    margin-left: 10px;
}