<app-layout>
<div class="recover">
<h3>Cadastro</h3>
<p>Introduce um email e uma senha</p>
<ion-item lines="none" class="input-box">
<ion-input type="email" placeholder="email@exemplo.com"
[(ngModel)]="email"></ion-input>
</ion-item>
<ion-item lines="none" class="input-box">
<ion-input type="email" placeholder="Insira uma senha"
[(ngModel)]="email"></ion-input>
</ion-item>
<ion-item lines="none" class="input-box">
<ion-input type="email" placeholder="Confirme a senha"
[(ngModel)]="email"></ion-input>
</ion-item>
<ion-button expand="block">Cadastrar</ion-button>
</div>
</app-layout>