.login-page {
  --background: #e6f4ff;

  .logo-container {
    text-align: center;
    margin-top: 12vh;

    img {
      width: 120px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 32px;
      color: #007bcb;
      font-weight: 800;
    }
  }

  form {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;

    .input-field {
      border-radius: 14px;
      margin-bottom: 16px;
      padding-left: 10px;
      background: white;

      ion-icon {
        font-size: 20px;
        margin-right: 10px;
        color: #007bcb;
      }

      ion-input {
        padding: 10px 0;
      }
    }

    .forgot-link {
      text-align: right;
      margin-bottom: 20px;

      a {
        color: #007bcb;
        font-size: 14px;
      }
    }

    .login-btn {
      --background: #007bcb;
      height: 47px;
      border-radius: 14px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .signup-link {
    text-align: center;
    margin-top: 25px;

    p {
      color: #333;
      font-size: 14px;

      a {
        color: #007bcb;
        font-weight: bold;
      }
    }
  }
}
