.intro-page {
  --background: #e6f4ff;

  .center-content {
    text-align: center;
    margin-top: 18vh;
    padding: 0 30px;

    .logo {
      width: 160px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 38px;
      color: #007bcb;
      font-weight: 800;
      margin-bottom: 8px;
    }

    .subtitle {
      font-size: 16px;
      color: #555;
      margin-bottom: 40px;
    }

    .start-btn {
      --background: #007bcb;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 14px;
    }
  }
}
