<app-layout>

  <div class="mapa-wrapper">

      <div class="map-placeholder">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11917.265182534567!2d-8.85319953134755!3d41.69210714741924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25b629ebdea1e1%3A0xe07a6adc68df3a9a!2sInstituto%20Polit%C3%A9cnico%20de%20Viana%20do%20Castelo!5e0!3m2!1spt-PT!2spt!4v1764015923367!5m2!1spt-PT!2spt" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    <ion-button expand="block" class="btn-maquinas" routerLink="/maquinas">
      VER MÁQUINAS
    </ion-button>

  </div>

</app-layout>
