<app-layout>

  <div class="mapa-wrapper">

      <div class="map-placeholder">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11916.864240304336!2d-8.865317631333326!3d41.69427124686745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25c9d271131d39%3A0x7adf1f41800a5ef0!2sEscola%20Superior%20de%20Tecnologia%20e%20Gest%C3%A3o%20-%20Instituto%20Polit%C3%A9cnico%20de%20Viana%20do%20Castelo!5e0!3m2!1spt-PT!2spt!4v1764017012132!5m2!1spt-PT!2spt" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    <ion-button expand="block" class="btn-maquinas" routerLink="/maquinas">
      VER MÁQUINAS
    </ion-button>

  </div>

</app-layout>
