.mapa-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-logo img {
  width: 100px;
  margin-bottom: 8px;
}

.top-logo h2 {
  font-size: 26px;
  font-weight: 700;
  color: #004f9a;
  margin: 0 0 20px 0;
}

.map-placeholder {
  height: 280px;
  background: rgba(0,0,0,0.06);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-maquinas {
  --background: #5aa8ff;
  --background-hover: #3f90e8;
  --border-radius: 12px;
  font-weight: 600;
  padding: 14px;
}
.map-placeholder iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 12px; /* opcional, para acompanhar o container */
}

