<app-layout>
<div class="pay-card">
<h3>Pagamento ({{method}})</h3>
<ion-item lines="none" class="input-box"><ion-input placeholder="Número
do cartão" [(ngModel)]="card"></ion-input></ion-item>
<ion-item lines="none" class="input-box"><ion-input placeholder="MM/AA"
[(ngModel)]="expiry"></ion-input></ion-item>
<ion-item lines="none" class="input-box"><ion-input placeholder="CVC"
[(ngModel)]="cvc"></ion-input></ion-item>
<ion-button expand="block" (click)="pagar()">Pagar</ion-button>
</div>
</app-layout>