<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recuperar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>Introduza o seu email para recuperar a conta.</p>

  <ion-item>
    <ion-input 
      type="email"
      placeholder="Email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="enviar()">
    Enviar
  </ion-button>

  <ion-button fill="clear" expand="block" routerLink="/login">
    Voltar ao Login
  </ion-button>

</ion-content>

