<ion-content class="login-page">

  <div class="logo-container">
    <img src="assets/logo.png" />
  </div>

  <h1 class="title">WashUp!</h1>

  <ion-list lines="none">
    <ion-item class="input-item">
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="btn-primary" routerLink="/tabs/mapa">
    Entrar
  </ion-button>

  <ion-button fill="clear" class="link" routerLink="/recuperar">
    Recuperar Conta
  </ion-button>

  <ion-button fill="clear" class="link" routerLink="/registar">
    Criar Conta
  </ion-button>

</ion-content>

